<link rel="stylesheet" href="../../style/shop-item.css"></link>


<div class="events-container">

<div class="row">

        <div class="col-md-3">
            <div class="panel panel-info">
            <div class="panel-heading">Event Info</div>
            <div class="panel-body">
                <h2>{{$ctrl.event.EventTitle}}</h2>
                <h3>{{$ctrl.event.EventStartTime | date: 'mediumDate' }}</h3>
                <h3>{{$ctrl.event.EventStartTime | date: 'hh:mma'}} - {{$ctrl.event.EventEndTime | date: 'hh:mma'}}</h3>
                <p>{{$ctrl.event.Location.LocationBuildingName}}</p>
                <p>{{$ctrl.event.Location.LocationStreet1}}</p>
                <p>{{$ctrl.event.Location.LocationCity}}, {{$ctrl.event.Location.State.StateAbbreviation}}</p>
                
                <div ng-repeat="e in $ctrl.event.EventTypes">
                    <p class="eventType">{{e.EventTypeName}}</p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <a class="btn btn-primary btn-md" href="#" ng-click="$ctrl.registerEvent($ctrl.event.EventID)">Join</a>
                        <a class="btn btn-danger btn-md" href="#"><span class="glyphicon glyphicon-heart" ng-click="$ctrl.favoriteEvent($ctrl.event.EventID)"></span></a>
                    </div>
                </div>    
            </div>
        </div>

        <br />
                <div class="alert alert-info" ng-show="$ctrl.successMessage">
                    {{$ctrl.successMessage}}
                </div>    

                <div class="alert alert-danger" ng-show="$ctrl.errorMessage">
                    Error with adding event : ({{$ctrl.errorMessage.status}})
                </div> 
        </div>
<div class="col-md-8">

            <div class="thumbnail">
                <img class="img-responsive" ng-src="{{$ctrl.event.EventImageURL}}" alt="">
                <div class="caption-full">
                    <h4 class="pull-right">{{$ctrl.event.EventPrice | currency}}</h4>
                    <h4><a href="#">{{$ctrl.event.EventTitle}}</a>
                    </h4>
    
                   
                    <h3>{{$ctrl.event.EventDescription}}</h3>
                </div>
                </div>
            </div>
</div>

