<link rel="stylesheet" href="../../style/3-col-portfolio.css"></link>

<div class="main-container">
  <fountain-header></fountain-header>
  <main class="main">
    <div class="row">
        <div class="col-md-9 col-md-offset-2"> 
            
            </br></br>
             <div class="alert alert-danger" ng-show="$ctrl.authenticationError">
                Authentication Failed ({{$ctrl.authenticationError.status}})
            </div>    

            <div class="alert alert-success" ng-show="$ctrl.successMessage">
                {{ $ctrl.successMessage }}
            </div>    

            <div class="alert alert-danger" ng-show="$ctrl.errorMessage">
                Error with adding event : ({{$ctrl.errorMessage.status}})
            </div> 
            <h1>User Dashboard</h1> </br>
            <uib-tabset active="active">
                
                <!-- Saved Events -->
                <uib-tab index="0" heading="Registered Events" select="getRegisteredEvents()">
                    <br/><br/>
                    <div ng-repeat="userEvent in $ctrl.userEvents.CURRENT">
                        <div class="col-md-4 portfolio-item">
                            <a href="#">
                                <img class="img-responsive" src="{{userEvent.EventImageURL}}" alt="">
                            </a>
                            <h3>
                                <a href="/event/{{userEvent.EventID}}">{{userEvent.EventTitle}}</a>
                            </h3>
                            <p>{{ userEvent.EventStartTime | date: 'mediumDate'}} <small>{{ userEvent.EventStartTime | date: 'hh:mm a'}} 
                                - {{ userEvent.EventEndTime | date: 'hh:mm a'}}</small></p>
                            <p>{{ userEvent.LocationStreet1 }}</p>
                            <p>{{ userEvent.LocationCity }}, {{ userEvent.StateAbbreviation}}</p>
                            <a class="btn btn-danger btn-sm" href="#"><span class="glyphicon glyphicon-trash" ng-click="$ctrl.deleteRegisteredEvent(userEvent.EventID)"></span></a>
                        </div>
                    </div>
                </uib-tab>

                 <!--Past Events-->
                <uib-tab index="1" heading="Saved Events">
                    <br/><br/>
                     <div ng-repeat="userEvent in $ctrl.userEvents.SAVED">
                        <div class="col-md-4 portfolio-item">
                            <a href="#">
                                <img class="img-responsive" src="{{userEvent.EventImageURL}}" alt="">
                            </a>
                            <h3>
                                <a href="/event/{{userEvent.EventID}}">{{userEvent.EventTitle}}</a>
                            </h3>
                            <p>{{ userEvent.EventStartTime | date: 'mediumDate'}} <small>{{ userEvent.EventStartTime | date: 'hh:mm a'}} 
                                - {{ userEvent.EventEndTime | date: 'hh:mm a'}}</small></p>
                            <p>{{ userEvent.LocationStreet1 }}</p>

                            <div class="row">
                                <div class="col-md-6">
                                    <p>{{ userEvent.LocationCity }}, {{ userEvent.StateAbbreviation}}</p>
                                </div>
                                <div class="col-md-4 col-md-offset-2">    
                                    <a class="btn btn-success btn-sm" href="#"><span class="glyphicon glyphicon-plus" ng-click="$ctrl.registerEvent(userEvent.EventID)"></span></a>
                                    <a class="btn btn-danger btn-sm" href="#"><span class="glyphicon glyphicon-trash" ng-click="$ctrl.deleteSavedEvent(userEvent.EventID)"></span></a>
                                </div>    
                            </div>
                        </div>
                    </div>
                </uib-tab>


                <uib-tab index="2" heading="Past Events">
                   <br/><br/>
                    <div ng-repeat="userEvent in $ctrl.userEvents.PAST">
                        <div class="col-md-4 portfolio-item">
                            <a href="#">
                                <img class="img-responsive" src="{{userEvent.EventImageURL}}" alt="">
                            </a>
                            <h3>
                                <a href="/event/{{userEvent.EventID}}">{{userEvent.EventTitle}}</a>
                            </h3>
                            <p>{{ userEvent.EventStartTime | date: 'mediumDate'}} <small>{{ userEvent.EventStartTime | date: 'hh:mm a'}} 
                                - {{ userEvent.EventEndTime | date: 'hh:mm a'}}</small></p>
                            <p>{{ userEvent.LocationStreet1 }}</p>
                            <p>{{ userEvent.LocationCity }}, {{ userEvent.StateAbbreviation}}</p>
                            <a class="btn btn-danger btn-sm" href="#"><span class="glyphicon glyphicon-trash"></span></a>                            
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
       </div> 
  </main>
  <fountain-footer></fountain-footer>
</div>