<link rel='stylesheet' href='../../style/searchbar.scss'/>

<div>
  <br/><br/>
  <h2 class="techs-h2 text-center">
    Find an adventure. Find your fun. Find your crowd.
  </h2>
  <br/>

  <div class="col-md-8 col-md-offset-1 search text-center">
    <input class="searchTerm" ng-model="$ctrl.query" placeholder="find events" class="searchButton" type="submit" />
    <br/><br/><br/>
  </div>

  <form class="search">
  <input class="searchTerm" placeholder="Enter your search term ..." /><input class="searchButton" type="submit" />
</form>

  <div class="row">
    <br/>
      <div class="col-md-10 col-md-offset-1">
        <fountain-tech ng-repeat="tech in $ctrl.techs | filter:$ctrl.query" tech="tech"></fountain-tech>
      </div>
  </div>
</div>
